/* Acá va tu código */
/* Acá van tus reglas de estilo */
/* https://www.youtube.com/watch?v=xCasfsqbEaM&t=16s */
/*
font-family: 'Acme', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Rancho', cursive;
font-family: 'Righteous', cursive;
*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

body{
  text-align: center;
  background-image: url('../img/img3.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed; /*que quede fija yno tenga ningun movimiento*/
  background-size: cover; /* para que se ajuste a cualquier tipo de resolucion o pantalla*/
}
@media screen and (max-width:750px){
  header{
    margin: 0 auto;
   height: 50px;
    
  }
  header h1{
    margin: 0 auto;
    font-family: 'Righteous', cursive;
    font-style: none;
    font-size: 50%;
  }
  footer{
    background-color: red;
  }

}
/*@media (max-width:768px ){
  #p1, header, footer{
    width: 75%;
    height: 75%;
  }
}
@media (max-width:480px ){
  form, header, footer{
    width: 95%;
    height: 95%;
  }
}*/
#iniciar{
  width: 194px;
}
#pass{
  width: 190px;
}
h4{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  color: aliceblue;
  
}
#logo{
  float: left;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  position: absolute;
  margin-left: -250px;
  margin-top: -5px;
}
h1{
  margin: 0 auto;
  display: inline;
  
}

header /*h1*/{
  position: fixed;
  background-color: #ff5733;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  margin:0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
h6{
  margin-top: 30px;
  margin-bottom: 30px;
}
.textShadow{
  font-family: 'Rancho', cursive;
  font-size: 80px;
  color: white;
  text-shadow: -3px -3px 3px #0000DF, 3px -3px 3px #0000DF, -3px 3px 3px #0000DF, 3px 3px 3px #0000DF;
}
.inicioSesion{
  background:rgba(24, 20, 20, 0.637);
  background-size: cover;
  box-sizing: border-box;
  width: 350px; /*es el ancho de la caja*/
  height: 300px;
  padding-top: 35px;
  padding-bottom: 35px;
  top: 100px;
  position: absolute;
  z-index: 0;

}

.positionPantalla{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  position:relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 160px;
  bottom: 100px;
}
h2{
  margin:10px;
  font-family: 'Righteous', cursive;
  color: rgb(20, 136, 219);
  text-shadow: -3px -3px 3px white, 3px -3px 3px white, -3px 3px 3px white, 3px 3px 3px white;
}
#user{
  z-index: 1;
  width:140px;
  height: 140px;
}
.textShadow1{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  font-size: 15px;
}
#rpta{
  color: rgb(248, 249, 250);
}
#negativo{
  color: rgb(190, 4, 4);
}
.btn_1{
  margin:5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.btn{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ff5733; /*#72DAB5; #D9C610*/
  font-weight: bold;
  color:white;
  font-size: 15px;
}

.btn:hover{
   background-color: rgb(20, 136, 219); /*#515B63;*/
   color:white;
 }
 .btn_2{
   margin-top: 15px;
   width: 100px;
 }
#result{
  height: 200px;
  width: 500px;
  box-sizing: border-box;
}
#mensaje{
  height: 200px;
  width: 400px;
  box-sizing: border-box;
}
#limpiar{
  height: 200px;
  width: 100px;
  vertical-align: top;
}
.position{
  margin-top: 60px;
  text-align: center;

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #ff5733;
}
footer p{
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 0;
  color: white;
  font-size: 16px; 
  
}
footer p1{
  position: absolute;
  font-size: 13px;
  font-style: none;
  margin-left: -620px;
  margin-top: -10px;
}
footer p2{
  position: absolute;
  font-size: 30px;
  margin-left: 450px;
  margin-top: -18px;
}

.oculto{
  display: none;
}
