
/*
font-family: 'Acme', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Rancho', cursive;
font-family: 'Righteous', cursive;
*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

body{
  text-align: center;
  background-image: url('../img/img3.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed; /*que quede fija yno tenga ningun movimiento*/
  background-size: cover; /* para que se ajuste a cualquier tipo de resolucion o pantalla*/
}
#iniciar{
  width: 194px;
}
#pass{
  width: 190px;
}
h4{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  color: aliceblue; 
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
h1{
  margin: 0;
  margin-left: 10px;
  margin-right: 23px;
}
header{
  position: fixed;
  background-color: #ff5733;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  margin:0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
h3{
  margin-top: 30px;
  margin-bottom: 30px;
}
.textShadow{
  font-family: 'Rancho', cursive;
  font-size: 40px;
  color: white;
  text-shadow: -3px -3px 3px #0000DF, 3px -3px 3px #0000DF, -3px 3px 3px #0000DF, 3px 3px 3px #0000DF;
}
.inicioSesion{
  background:rgba(24, 20, 20, 0.637);
  background-size: cover;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  margin-top: 70px;
  padding-top: 25px;
}
.positionPantalla{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px ;
}
h2{
  font-size: 20px;
  margin-bottom:10px;
  margin-top: 15px;
  font-family: 'Righteous', cursive;
  color: rgb(20, 136, 219);
  text-shadow: -3px -3px 3px white, 3px -3px 3px white, -3px 3px 3px white, 3px 3px 3px white;
}
#user{
  margin-top: -80px;
  width:100px; 
  height: 100px;
}
.textShadow1{
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5px;
  font-size: 13px;
}
#rpta{
  color: rgb(248, 249, 250);
}
#negativo{
  color: rgb(190, 4, 4);
}
.btn_1{
  margin:5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.btn{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ff5733;
  font-weight: bold;
  color:white;
  font-size: 13px;
}
.btn:hover{
   background-color: rgb(20, 136, 219);
   color:white;
 }
 .btn_2{
   margin-top: 15px;
   width: 100px;
 }
#result{
  height: 120px;
  width: 250px;
  box-sizing: border-box;
}
#mensaje{
  height: 120px;
  width: 250px;
  box-sizing: border-box;
}
#limpiar{
  height: 30px;
  width: 250px;
  box-sizing: border-box;
}
.position{
  text-align: center;
}
#despedida{
  width: 250px;
}
footer {
  right: 0;
  left: 0;
  bottom: 0;
  padding: 8px;
  position: fixed;
  background-color: #ff5733;
}
footer p{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 11px;
  margin: 0px;
}
footer p1{
  font-size: 9px;
}
footer p2{
  font-size: 13px;
}
.oculto{
  display: none;
}


@media screen and (min-width:375px){
  h1{
    margin-right: 45px;
  }
  .positionPantalla{
    margin-top: 150px;
  }
  .inicioSesion{
    margin-top: 80px;
  }
  h2{
    margin-top: 25px;
  }
  #result{
    height: 170px;
    width: 300px;
  }
  #mensaje{
    height: 170px;
    width: 300px;
  }
  #limpiar{
    width: 300px;
  }
  #despedida{
    width: 300px;
  }
  footer p{
    font-size: 13px;
  }
  footer p1{
    font-size: 11px;
  }
  footer p2{
    font-size: 20px; 
  }
}

@media screen and (min-width:764px){
  .textShadow{
    font-size: 80px;
  }
  #logo{
    width: 110px;
    height: 110px;
    border-radius: 55px;
  }
  h1{
    margin: 0px;
    margin-left: 20px;
    margin-right: 140px;
  }
  .header{
    height: 85px;
  }
  footer{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  footer p{
    font-size: 16px; 
    margin: 8px 0px;   
  }
  footer p1{
    font-size: 13px;  
  }
  footer p2{  
    font-size: 30px; 
    width: 160px;
  }
  .textShadow1{
    font-size: 15px;
  }
  .btn{
    font-size: 15px;
  }
  #user{
    margin-top: -100px;
    width:140px; 
    height: 140px;
  }
  .inicioSesion{
    width: 350px; 
    height: 300px;
    padding-top: 35px;  
  }
  .positionPantalla{
    margin-top: 120px;
  }
  #mensaje{
    height: 200px;
    width: 400px;
  }
  #limpiar{
    height: 200px;
    width: 100px;
    vertical-align: top;
  }
  #result{
    height: 200px;
    width: 500px;
  }
  #despedida{
    width: 400px;
  }
}
